{% extends 'base.html' %}

		{% block title %} Query pets {% endblock %}

		{% block content %}

		<section id="one" class="wrapper special">
			<div class="inner narrow">
				{% if result %}
				<h2 id="elements">Results</h2>
				<div class="table-wrapper">
					<table>
	          <thead>
	            <tr>
	              <th>Name</th>
	              <th>Type pet</th>
	              <th>Age</th>
	              <th>Owner</th>
								<th>Image</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr>
	              <td> {{ result.name }} </td>
	              <td> {{ result.type_pet }} </td>
	              <td> {{ result.age }} </td>
	              <td> {{ result.owner }} </td>
								<td> <img src="data:;base64,{{ image }}" width="50"> </td>
	            </tr>
	          </tbody>
        	</table>
      	</div>
    	</div>

			{% else %}
				<h2 id="elements">There are no results for your query :(</h2>
			{% endif %}

			<a href="/index" class="button special">Back</a>
		</section>

    {% endblock %}
